#ta-importar-content {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

.ta-importar {
  border: 3px solid #000000;
  box-shadow: 0 0 27px #000000;
  height: 200px;
  padding: 10px;
  width: 300px;
}

#ta-importar-content > #bt-importar {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    text-align: center;
}
