.abas-content {
    position: relative;
    /*min-height: 500px;*/
}

.abas-menu {
  height: 42px;
  position: relative;
}

.abas-menu-item {
  border-color: #555;
  border-radius: 3px 3px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  cursor: pointer;
  float: left;
  height: 19px;
  margin-right: 3px;
  opacity: 0.4;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.abas-menu-item-barra {
  background-color: #ffffff;
  bottom: -1px;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.abas-box {
  background-color: #ffffff;
  border: 1px solid #555;
  display: none;
  height: auto;
  left: 0;
  margin-top: -2px;
  overflow: hidden;
  padding: 20px;
  position: absolute !important;
  top: 41px;
  width: 96%;
  z-index: 0;
}

.box-sel {
  z-index: 1;
  display: block;
}