#agenda-content {
    position: relative;
}

#calendario-content {
  float: left;
}

.calendario-titulo {
  color: #7f7f7f;
  font-size: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 96%;
  z-index: 1;
}

#calendario-botoes {
  left: 0;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 100%;
  z-index: 2;
}

#calendario-botoes > img {
  height: 27px;
  margin: 3px 113px;
  opacity: 0.5;
  cursor: pointer;
}

#calendario-botoes > img:hover {
  opacity: 1;
}

#agendamentos-content {
    float: left;
}

.agendamentos-item {
  background-color: #e8e8e8;
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  padding: 10px;
  width: 215px;
}

#agendamento-titulo {
  background: #7f7f7f none repeat scroll 0 0;
  color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  margin: 1px;
  padding: 5px 0;
  text-align: center;
  width: 236px;
}

.calendario-item {
    cursor: pointer;
}

.calendario-item:hover { 
    background-color: #e4e4e4 !important;
}