@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: gt; 
    src: url(../fonts/GOTHIC.woff);    
}

@font-face {
    font-family: qsLight;
    src: url(../fonts/Quicksand_Light.otf);
}

@font-face {
    font-family: qsDash;
    src: url(../fonts/Quicksand_Dash.otf);
}

@font-face {
    font-family: gl; 
    src: url(../fonts/glyphicons-halflings-regular.woff);    
}

.titulo1 {
  color: #666666;
  font-family: gt;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1.8px;
  margin: 9px 5px 30px;
  /*text-align: center;*/
}

.titulo2 {
  color: #666666;
  font-family: gt;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1.8px;
  margin: 9px 5px 30px;
  /*text-align: center;*/
}

.titulo3 {
  color: #666666;
  font-family: gt;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1.8px;
  margin: 9px 5px 30px;
  /*text-align: center;*/
}

.titulo3 > span {
  color: #919191;
  font-size: 19px;
}

.titulopg {
    
}

.painel-topo {
  background-color: #e9ecf2;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 1px;
  overflow: hidden;
  padding: 3px 10px;
  width: 100%;
}

.painel-topo > h1 {
  float: left;
  font-size: 15px;
  font-weight: lighter;
  margin: 0 30px 0 0;
  padding: 0;
}

.painel1 {
  background-color: #e9ecf2;
  border: 1px solid #dde0e6;
  clear: both;
  margin: 10px 5px;
  padding: 0 11px 5px;
  text-align: left;
}

.painel2 {
  background-image: url("img/botao_bg_cinza.png");
  background-size: 5px 100%;
  border: 1px solid #e1e1e1;
  clear: both;
  margin: 0 0 0 -21px;
  overflow: hidden;
  padding: 2px 0 0 2%;
  width: 105%;
  text-align: left;
}

.painel2 > form {
  display: inline-block;
  float: left;
  margin: 0;
}

/*.box1 {
  border-bottom: 1px solid #71e6b7;
  border-top: 1px solid #71e6b7;
  margin: 10px 0;
  overflow: hidden;
  padding: 0 0 1px;
}*/

.box1 {
  background-color: #f6f6f6;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  margin: 30px 0;
  overflow: hidden;
  padding: 13px 0 14px;
}

.box-mini {
  color: #7a7a7a;
  float: left;
  font-size: 15px;
  margin: 0 7px 13px 0;
  padding: 0 10px 10px 11px;
  text-align: center;
}

.form-item {
  float: left;
  margin: 2px;
  min-height: 57px;
  padding: 5px 9px;
  position: relative;
}

.form-item label {
  color: #737373;
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}

.form-item input[type='text'],
.form-item input[type='email'],
.form-item input[type='password'],
.form-item input[type='number'],
.form-item input[type='tel'],
.form-item select,
.form-item textarea
{
  border: 1px solid #cccccc;
  padding: 8px;
  width: 270px;
  font-size: 12px;  
}

.form-item input[type='number'] {
    width: 100px;
}

.form-item select {
  width: 308px;
}

.form-item textarea {
  width: 90%;
}

.form-item textarea {
    min-height: 200px;
}

.form-item-msg {
  color: #ffa07a;
  font-size: 9px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 51px;
  width: 100%;
}

.form-item .tam-p {
    width: 60px !important;
}

.form-item .tam-m {
    width: 120px !important;
}

.form-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 20px;
  text-align: left;
}

.botao1, input[type="submit"], .botao-apagar {
  background-color: #cd4a2d;
  border: medium none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: gt;
  font-size: 13px;
  font-weight: 600;
  height: 31px;
  letter-spacing: 0.72px;
  margin: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

input[type="submit"] {
  /*padding: 4px 20px;*/
}

.botao1:hover, 
input[type="submit"]:hover 
{
    background-color: #555555;
}

.botao1 > img, input[type="submit"] > img {
  height: 22px;
  left: 10px;
  position: absolute;
  top: 8px;
}

.botao-voltar {
  color: #263747;
  cursor: pointer;
  display: inline-block;
  font-family: gt;
  font-size: 11px;
  letter-spacing: 1.8px;
  margin: 0 0 30px;
  opacity: 0.8;
  padding-left: 19px;
  position: relative;
}

.botao-voltar:hover{
    opacity: 1;
}

.botao-voltar > img {
  height: 22px;
  left: 0;
  position: absolute;
  top: -4px;
}

.botao-menu2 {
  color: #263747;
  cursor: pointer;
  display: inline-block;
  font-family: gt;
  font-size: 11px;
  letter-spacing: 1.8px;
  margin: 0 7px 30px;
  opacity: 0.8;
  padding-left: 20px;
  position: relative;
  text-decoration: none;  
}

.botao-menu2 :hover{
    opacity: 1;
}

.botao-menu2 > img {
  height: 18px;
  left: 1px;
  position: absolute;
  top: -3px;
}

/*.botao-menu3 {
  border: 1px solid #808080;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #000000;
  display: inline-block;
  margin: 5px 2px;
  overflow: hidden;
  padding: 5px 5px 1px;
  position: relative;
}*/

.botao-menu3 {
  border-radius: 7px;
  display: inline-block;
  float: left;
  margin: 0 5px 2px;
  padding: 4px 6px 1px;
  position: relative;
}

.botao-menu3:hover {
   box-shadow: 1px 1px 2px #000000 inset; 
}

.botao-menu3 > img {
  /*border: 1px solid blue;*/
  height: 20px;
  margin: 0;
  width: 20px;
}

.botao-apagar {
    background-color: red;
}

.painel2 .botao1, .painel2 input[type="submit"], .painel2 .botao-apagar {
  background-color: #cccccc;
  border: 1px solid #9d9d9d;
  color: #5b5b5b;
  font-size: 11px;
  height: 24px;
  line-height: 21px;
  margin: 2px;
  padding: 0 5px !important;
}

.painel2 input[type='text'] {
  border: 1px solid #a9a9a9;
  height: 19px;
  width: 138px;
  padding: 0 10px;
}

.painel2 > .texto {  
  color: #555555;
  float: left;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.7;
  text-decoration: none;
  line-height: 27px;
}

.tabela1 {
  background-color: #ffffff;
  border: 0 solid #999999;
  border-collapse: collapse;
  box-shadow: 0 0 2px #000000;
  margin: 5px;
  width: 99%;
}

.tabela1 th, .tabela1 td {
  /*border-right: 1px solid #b4b4b4;*/
  font-family: sans-serif;
  font-size: 11px;
  padding: 4px 10px !important;
  text-align: center;
}

/*span {
    color: blue;
}*/

#linhaloka {
    font-size: 20px;
}

.linhasloucas {
    font-style: italic;
}

.tabela1 th {
  background-image: url("img/botao_bg_cinza.png");
  background-size: 1px 100%;
  /*border-bottom: 1px solid #999999;*/
  /*border-top: 1px solid #999999;*/
  color: #000000;
  padding: 5px 8px;
  text-transform: uppercase;
}

.tabela1 td {
  color: #606060;
  font-family: sans-serif;
  font-size: 10px;
}

.tabela1 tr:nth-child(odd){
    background-color: #EDEDED;
}

.tabela1 tr:hover{
    background-color: #999999;
    color: #000000;
}

.tabela1 td, .tabela1 th {
  padding: 5px 0;
  text-align: left;
}

.tabela1 td.botoes {
    text-align: right;
}

.clear {
    clear: both;
}

.aviso {
  background-color: #ffffcf;
  color: #757575;
  font-size: 12px;
  padding: 20px;
}

.aviso2 {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.link1, .link2 {
  color: #059deb;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 0 5px;
}

.link2{
   color: red; 
}

#valor {
  float: left;
  margin-right: 30px;
}

.texto1 {
  color: #666666;
  font-family: gt;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1.8px;
  margin: 9px 5px 30px;
  text-align: left;
}

.galeria1 {
  overflow: hidden;
}

.galeria1 .sel_item {
  border: 4px solid #ffffff;
  box-shadow: 1px 1px 5px #000000;
  float: left;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.galeria1 .sel_item .thumbs1 {
  height: 189px;
}

.galeria1 .item_apagar {
  background-color: red;
  border-radius: 3px;
  box-shadow: 0 0 3px #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  right: 5px;
  text-shadow: 0 0 2px #000000;
  top: 5px;
}

.popup {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px #555555;
  left: 25%;
  padding: 10px;
  position: fixed;
  top: 100px;
  width: 50%;
}

.paginacao-indice {
  /*border: 1px solid #ccc;*/
  display: inline-block;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}

.paginacao-indice > div {
  background-color: #e7e7e7;
  border: 1px solid #999999;
  border-radius: 3px;
  box-shadow: 0 0 3px #7b7b7b inset;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
}

.paginacao-indice > div.pgatual {
  border: 2px solid #000000 !important;
}

.lista1 {
    
}

.lista1 > .lista1-item .lista1-titulo {
    font-family: 'qsLight';
    margin: 0 !important;
    padding: 0 !important;
}

.lista1 > .lista1-item {
  animation-duration: 5s;
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  margin: 16px 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.lista1 > .lista1-item:hover {
    opacity: 1;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
}

.lista1-item > .capa {
  float: left;
  height: 100px;
  margin-right: 10px;
}

.lista1-data {
  color: #838383;
  font-size: 10px;
  position: absolute;
  right: 11px;
  top: 15px;
}

.lista1-texto {
    margin: 0;
}

.leia-mais.link1 {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

.ico-mini {
  height: 17px;
}

.texto-branco {
  color: #ffffff;
  font-family: gt;
  font-size: 15px;
  text-shadow: 0 0 2px #000000;
}

.botao-br-trans {
	background-image: url(img/bg-preto-transparente.png);
	color: #ffffff;
  font-family: gt;  
  text-shadow: 0 0 2px #444444;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 3px #878787;
  display: inline-block;
  font-size: 14px;
  margin: 2px;
  padding: 10px;
  cursor: pointer;  
}

.botao-br-trans:hover {
	background-image: url(../img/bg-preto-transparente2.png);
}

a {
    text-decoration: none !important;
}

.icone {
   height: 40px;
}

.msgOk {
  background-color: green;
  color: #ffffff;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  left: 40%;
  letter-spacing: 1px;
  line-height: 25px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 20%;
}

.msgError {
  background-color: #e41010;
  color: #333333;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  left: 40%;
  letter-spacing: 1px;
  line-height: 25px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 20%;
}

.sysMsgBox {
    z-index: 3;
    /*font-family: FontAwesome !important;*/
}

.sysMsgBox > span {
  float: right;
  cursor: pointer;
}

.sysMsgBoxShowing {
    padding: 5px;
}

.form1 {
  background-color: #ffffff;
  /*border: 1px solid #b9b9b9;*/
  display: block;
  /*margin: 0 auto;*/
  /*max-width: 320px;*/
  padding: 20px;
}

.cor-view {
  border-radius: 10px;
  height: 12px;
  width: 12px;
}

/* 
* Tabela 2 inicio 
*/

.tabela2 {
    border-collapse: collapse;
}

.tabela2 tr:hover {
    background-color: #eeeeee;
}

.tabela2 th, .tabela2 td {  
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  
}

.tabela2 th {
    border-bottom: solid 1px #999999;
    color: #737373;
    padding: 1px 15px;
}

.tabela2 td {
  border-bottom: 1px solid #cccccc;
  color: #3d464d;
  padding: 7px 15px;
}

/* 
* Tabela 2 fim 
*/