.select_loko .campo_content {
  border: 0px solid #cccccc;
  display: inline-block;
  margin: 5px;
  /*overflow: hidden;*/
  position: relative;
}

.select_loko .lista_item{
    cursor: pointer;
}

.select_loko .lista_item:hover{
    text-decoration: underline;
}

.select_loko .busca_resultado {
  background: #d3d3d3 none repeat scroll 0 0;
  left: 0;
  min-width: 184px;
  padding: 0 10px;
  position: absolute;
  top: 29px;
  z-index: 1;
}

.select_loko .sel_item {
  border: 1px solid #cccccc;
  float: left;
  margin: 1px;
  overflow: hidden;
  padding: 5px 22px 5px 5px;
  position: relative;
  width: 120px;
}

.select_loko .item_id {
  display: none;
}

.select_loko .item_nome {
  float: left;
}

.select_loko .item_apagar {
  background-color: red;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 0 3px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#colunasCheck, #filtros {
  border: 1px solid #eeeeee !important;
  clear: both;
  display: none;
  float: left;
  margin: 3px 0;
  padding: 10px;
  width: 836px !important;
}

#filtros {
    display: block;
}

#colunasCheck > div {
  background: #eeeeee none repeat scroll 0 0;
  float: left;
  margin: 1px;
  padding: 5px 10px;
  width: 140px;
}

#colunasCheckMestre {
  clear: both;
  font-weight: bold;
  width: 100% !important;
  background: transparent !important;
}

.coluna_nome_cargo, .coluna_descricao_empresa{
    min-width: 200px;
}

.tabela1 table{
    
}

.tabela1 table th, .tabela1 table td{
    
}