/*bado *, *>*{ 
    font-family: arial; 
}*/

#content {
    height: 94%;
    min-width: 100%;
}

#app-content { 
  height: 100%;
}

#map-content {
    width: 100%;
    height: 100%;
}

#map {  
  height: 100%;
  width: 100%;
}

#mapa-menu {
  background-color: #fff;
  border: 1px solid #a6a6a6;
  box-shadow: 0 0 5px #b7b7b7;
  font-size: 13px;
  max-height: 80%;
  min-height: 250px;
  opacity: 0.8;
  overflow: auto;
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 75px;
}

#mapa-menu:hover {
    opacity: 1;
}

#mapa-menu .oc-menu-grupo, #mapa-menu .ca-menu-grupo {
  border: 0px solid #cccccc;
  margin: 1px;
  padding: 3px;
}

#mapa-menu .oc-menu-grupo h2, #mapa-menu .ca-menu-grupo h2 {
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  position: relative;  
}

#mapa-menu .oc-menu-grupo h2 {
  padding-left: 24px;
}

#mapa-menu .oc-menu-grupo h2 > img {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
}

#mapa-menu .oc-menu-item, #mapa-menu .ca-menu-item {
  margin-left: 22px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
   font-weight: lighter; 
}

#mapa-menu .oc-menu-item:hover, #mapa-menu .ca-menu-item:hover{
    color: #2576BE;
    text-decoration: underline;
}

#mapa-menu .subitens-content {
  display: none;
}

#mapa-menu .data {
  border: 1px solid #999999;
  font-size: 10px;
  text-align: center;
  width: 64px;
}

#mapa-menu #botoes-data {
  border: 1px solid #cccccc;
  margin: 4px 0;
  padding: 2px;
}

.ca-menu-grupo-bt {
  display: inline-block;
}

#mapa-menu > #datas {
  background-color: #efefef;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding: 1px 3px;
  position: relative;
  width: 161px;
}

#mapa-menu #hora-de, #mapa-menu #hora-ate {
  border: 1px solid #ccc;
  font-size: 10px;
  padding: 0;
}

#datas .fa-search-af {
  float: right;
  margin: 0 3px;
  cursor: pointer;
}

.tot {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 5px;
}

.info-window {
    
}

.info-window .item {
  display: inline-block;
  margin: 0 17px;
}

.info-window .quebra {
  font-size: 3px;
}

/*.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}*/

.map-labels {
    color: #000000;
    font-size: 9px;    
  /*background-color:  #ffffff;*/
  /*padding:  1px 3px;*/
  /*opacity:  1 !important;*/
}

/*Omite bt no Streetview*/
.gm-iv-address {
  display: none;
}

.ca-menu-grupo{
    opacity: 0.5;
}

#ca-menu-grupo-1 {
    opacity: 1;
}

#mapa-menu-content-ca-temp {
    border: solid 2px red;
}


