.link1.tipo-sel {
  background-color: #059deb;
  border-radius: 3px;
  color: #eaeaea;
  padding: 3px;
  text-decoration: underline;
}

.galeria1 .sel_item .thumbs1 {
  height: 72px;
}

.icone-content {
  border-bottom: 1px solid #cccccc;
  /*border-top: 1px solid #cccccc;*/
  clear: both;
  margin: 10px 0;
  padding: 0 0 16px;
}