#form-login {
  display: block;
  margin: 60px auto auto;
  overflow: hidden;
  padding: 0 20px;
  width: 300px;
}

#content {
  background-color: transparent;
}

#logo {
 background-color: transparent;
}

.titulo1 {
  color: #666666;
  font-family: gt;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1.8px;
  line-height: 97px;
  margin: 0;
}